body{
    margin: 0;
    background: #3e3e3e;
}

.header{
    z-index: 2;     /*2 слой*/
    height: 140px;
    background: #343434;
    border: hidden;
    margin-top: 3%;
}

.logo{
    z-index: 1;
    font-size: 100px;
    color: #08d7a9;
    margin: 50px auto 0 auto;
    font-family: 'Days One', sans-serif;
}

.center{
    width: 970px;
    margin:0 auto;
    padding: 2%;
}

.middle{
    weight: 970px;

}

.uploadButton {
    margin: 50px auto 0 auto; /*центр */
    display: block;
    width: 100px;
    background: #343434;
    padding: 100px;
    color: #08d7a9;
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.uploadButton:hover {
    background: #646464;

}

.footer{
    margin: 220px auto 0 auto;
    float: right;
    height: 100px;
    background: #343434;
    position: absolute;
    width: 100%;
}

.socials{
    margin: 0 auto;
    display: inline;
    z-index: 2;
}
/*.socials-hidden{*/
    /*margin: 0 auto;*/
    /*display: inline;*/
    /*z-index: 1;*/
/*}*/

.social-logo{
    width: 80px;
    height: 80px;
    margin: 10px auto 0 auto;
}

.vk{
    display: inherit;
}

.instagram{
    display: inherit;
}

.deviant{

    display: inherit;
}

.copyright{
    font-size: 20px;
    font-family: 'Jura', sans-serif;
}

/*как это должно работать? %)*/

@media screen and (max-width: 640px) {
    .middle {
        width: 640px;
    }

    .uploadButton{
        margin: 50px auto 0 auto;
    }

}

.filters{
    width: 970px;
    height: 100px;
    margin: 0 auto 0 115px;
    display: inline;
}

.filter1{
    display: inherit;
}
.filter2{
    display: inherit;
}
.filter3{
    display: inherit;
}
.filter4{
    display: inherit;
}
.filter5{
    display: inherit;
}
.filter6{
    display: inherit;
}
.filter7{
    display: inherit;
}
.filter8{
    display: inherit;
}
.filter9{
    display: inherit;
}
.filter10{
    display: inherit;
}
